#wrapper{font-family:arial;}
.container{width:100%;
	max-width:1280px;
margin:0 auto;
}
#subheader{
	width:100%;
	height:30px;
	background:#0a930a;
	color:#fff;
	margin-top:-15px;
}
#subheader p{
	float:left;
	margin-top:7px;
}
#subheader a{
	float:right;
	line-height:30px;
	color:#fff;
	text-decoration:none;
	margin-left:30px;
}
/*Disain logo*/
#main-header{
	width: 100%;
	height: 80px;
	background:#1aaa1a;
	float:left;
	margin-top:-15px;
}
#main-header img{
	position: absolute;
	margin-left: 25px;
	margin-bottom: 20px;
	margin-top: 5px;
	width:55px;
	height:65px;
}
#logo{
	width:250px;
	margin-top: 10px;
	float:left;
}
#ist{
	color:#fff;
	font-size:45px;
	font-weight: bold;
	margin-left: 90px;
	font-family: cursive;
}
#iist{
	color:#fff;
	font-size:35px;
	font-weight: bold;
	font-family: cursive;
}
/*set tu searching*/
#search{
	width: 650px;
	float:left;
	padding: 20px;
	margin-left: 50px;
}
.search-area{
	width:650px;
	height: 50px;
	background: #fff;
	border: none;
	border-radius: 10px;
	float:left;
	padding-left: 15px;
}
.search-btn{
	width: 100px;
	height: 50px;
	border-radius:0px 10px 10px 0px;
	border: none;
	color: #fff;
	background: brown;
	margin-left: -100.5px;
}
/* for menu styling*/
#user-menu{
	width: 300px;
	float: right;
	margin-top: 20px;
}
/* list li desain menu styling*/
#user-menu li{
	float:left;
	width: 140px;
	text-align: center;
	list-style: none;
	font-size:25px;
	border-left: 1px solid black;
}
#user-menu li:hover{
	font-size:30px;
	transition: all .5s ease;
}
#user-menu li a{
	color: white;
	text-decoration: none;
}
/*style tu navigasi bar*/
#navigation{
	width: 100%;
	height: 35px;
	background: #1aaa1a;
	float: left;
	box-shadow:10px 14px 50px 2px #1aaa1a;
}
nav{
	width: 1280px;
	margin:0 auto;
}
nav a{
	margin-left: 35px;
	color: white;
	text-decoration: none;
}
nav a:hover{
	color:#000;
	transition:all .7s ease;
}
/*design dpe slier*/
#slider{
	width: 100%;
	max-width: 100%;
	height:450px;
	float: left;
	overflow: hidden;
}
.bx-wrapper .bx-viewport{
	margin-top:-20px;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
	bottom: 30px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	width:15px;
	height:15px;
	border-radius:20px;
}
/*set dpe headding disini*/
#heading-block{
	width:100%;
	height: auto;
	float: left;
	color:#1aaa1a;
	font-size:22px;
}
#heading-block h2{
	line-height:35px;
	border-left:20px solid #1aaa1a;
	padding-left:10px;
}
/*set categori box*/
.catbox{
	width:235px;
	height: 235px;
	float: left;
	overflow:hidden;
	position: relative;
	margin:0 18 30 0;
}
.catbox span{
	width:100%;
	height: 35px;
	line-height: 35px;
	background:rgba(0,0,0,0.6);
	color:white;
	display:block;
	bottom:30px;
	position:absolute;
	z-index: 999;
	text-align: center;
}
.catbox:hover span{
	color:#00eb00;
}
.catbox img{
	max-width:100%;
	transition:all .5s ease;
}
.catbox:hover img{
	transform:scale(1.3,1.3);
	transition:all .5s ease;
}
/*ator tu produk styling*/
.prod-box{
	width: 235px;
	height: 300px;
	overflow: hidden;
	margin: 0 18 30 0;
	position: relative;
	float: left;
}
.prod-box>img{
	max-width: 100%;
}
.prod-trans{
	background:rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	opacity:0;
	transition:all .5s ease;
}
.prod-box:hover .prod-trans{
	opacity:1;
	transition:all .5s ease;
}
.prod-feature{
	text-align: center;
	margin-top:-150px;
	transition:all .5s ease;
}
.prod-feature p{
	color: #00eb00;
	font-family: verdana;
}
.prod-box:hover .prod-feature{
	margin-top: 150px;
	transition:all .5s ease;
}
.prod-feature input{
	width: 150px;
	height:35px;
	font-size:17px;
}
.offer{
	width:420px;
	float: left;
	margin-right:10px;
}
.offer:last-child{
	margin-right:0px;
}
.offer img{
	width:100%;
}
#footer{
	width: 100%;
	height:auto;
	background: #f5f5f5;
	float: left;
}
.footer_sub{
	width: 25%;
	float: left;
}
.footer_sub_2{
	width: 20%;
	float:left;
}
.footer_sub_2 ul li{
	list-style: none;
}
.footer_sub_2 ul li a{
	text-decoration: none;
	color: #000;
}
.footer_sub_2 ul li a:hover{
	color: #1aaa1a;
	text-decoration: underline;
}
.footer_sub_3{
	width: 35%;
	float: left;
}
.subs{
	width: 350px;
	border: none;
	height: 50px;
	padding: 15px;
	float: left;
}
.sub_btn{
	height: 50px;
	border: none;background: #1aaa1a;
	float: left;
}
.sub_p{
	color: #999;
	font-style: italic;
	font-size: 15px;
}

.menu-togglr{
    color: white;
    position: absolute;
    top: 70px;
    left: 20px;
    font-size: 20px;
    display: none;
}

/*ConBox*/
* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.conBox {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.inputCart{
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.buttonsubmit {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.buttonsubmit:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}
